@media (max-width: 1440px) {
  .hire-card {
    border-radius: 53px;
  }
  .title {
  margin-bottom: 50px;
  font-size: 2rem;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.hire-card {
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.upper-hire-card {
  height: 40%;
}

.upper-area {
    margin-top: 10px;
  display: flex;
  justify-content: space-between; /* Distribute space between text and image */
  align-items: center; /* Vertically center the items */
  gap: 20px;
}

.upper-area-text {
    flex: 1;                       /* Makes the text take up available space */
    font-size: 40pt;   
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;          /* Adjust text size as needed */
    display: flex;
    justify-content: center;       /* Center the text horizontally */
    align-items: center;           /* Center the text vertically */
    text-align: center;            /* Optional: Center text if you have multiple lines */
  }

.upper-area-text span{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 45pt;
}

.upper-area-img {
    flex: 1; /* Makes the image take up the available space */
    max-width: 40%; 
}

.image-container{
    width: 60%;

}

.bottom-hire-card {
  height: 60%;
  display: flex;
  justify-content: center; /* Centers the .area-container horizontally */
  align-items: center;
}

.area-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px 20px;
  justify-items: center;
  width: 1000px;
}

.area {
  width: 100%;
  max-width: 350px;
}

.bold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.light {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

}
@media (max-width: 1024px) {
  .hire-card {
    border-radius: 53px;
  }
  .title {
  margin-bottom: 50px;
  font-size: 1rem;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.hire-card {
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.upper-hire-card {
  height: 40%;
}

.upper-area {
    margin-top: 10px;
  display: flex;
  justify-content: space-between; /* Distribute space between text and image */
  align-items: center; /* Vertically center the items */
  gap: 20px;
}

.upper-area-text {
    flex: 1;                       /* Makes the text take up available space */
    font-size: 40pt;   
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;          /* Adjust text size as needed */
    display: flex;
    justify-content: center;       /* Center the text horizontally */
    align-items: center;           /* Center the text vertically */
    text-align: center;            /* Optional: Center text if you have multiple lines */
  }

.upper-area-text span{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 45pt;
}

.upper-area-img {
    flex: 1; /* Makes the image take up the available space */
    max-width: 40%; 
}

.image-container{
    width: 60%;

}

.bottom-hire-card {
  height: 60%;
  display: flex;
  justify-content: center; /* Centers the .area-container horizontally */
  align-items: center;
}

.area-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px 20px;
  justify-items: center;
  width: 1000px;
}

.area {
  width: 100%;
  max-width: 350px;
}

.bold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.light {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

}
@media (max-width: 768px) {
  .hire-card {
    border-radius: 20px;
  }
  .title {
  margin-bottom: 50px;
  font-size: 0.7rem;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.hire-card {
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.upper-hire-card {
  height: 40%;
}

.upper-area {
    margin-top: 10px;
  display: flex;
  justify-content: space-between; /* Distribute space between text and image */
  align-items: center; /* Vertically center the items */
  gap: 20px;
}

.upper-area-text {
    flex: 1;                       /* Makes the text take up available space */
    font-size: 40pt;   
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;          /* Adjust text size as needed */
    display: flex;
    justify-content: center;       /* Center the text horizontally */
    align-items: center;           /* Center the text vertically */
    text-align: center;            /* Optional: Center text if you have multiple lines */
  }

.upper-area-text span{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 45pt;
}

.upper-area-img {
    flex: 1; /* Makes the image take up the available space */
    max-width: 40%; 
}

.image-container{
    width: 60%;

}

.bottom-hire-card {
  height: 60%;
  display: flex;
  justify-content: center; /* Centers the .area-container horizontally */
  align-items: center;
}

.area-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px 20px;
  justify-items: center;
  width: 1000px;
}

.area {
  width: 100%;
  max-width: 350px;
}

.bold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.light {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

}
@media (max-width: 425px) {
  .hire-card {
    border-radius: 20px;
  }
  .title {
  margin-bottom: 50px;
  font-size: 2rem;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.hire-card {
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.upper-hire-card {
  height: 40%;
}

.upper-area {
    margin-top: 10px;
  display: flex;
  justify-content: space-between; /* Distribute space between text and image */
  align-items: center; /* Vertically center the items */
  gap: 20px;
}

.upper-area-text {
    flex: 1;                       /* Makes the text take up available space */
    font-size: 40pt;   
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;          /* Adjust text size as needed */
    display: flex;
    justify-content: center;       /* Center the text horizontally */
    align-items: center;           /* Center the text vertically */
    text-align: center;            /* Optional: Center text if you have multiple lines */
  }

.upper-area-text span{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 45pt;
}

.upper-area-img {
    flex: 1; /* Makes the image take up the available space */
    max-width: 40%; 
}

.image-container{
    width: 60%;

}

.bottom-hire-card {
  height: 60%;
  display: flex;
  justify-content: center; /* Centers the .area-container horizontally */
  align-items: center;
}

.area-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px 20px;
  justify-items: center;
  width: 1000px;
}

.area {
  width: 100%;
  max-width: 350px;
}

.bold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.light {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

}
@media (max-width: 320px) {
  .hire-card {
    border-radius: 20px;
  }
  .title {
  margin-bottom: 50px;
  font-size: 2rem;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.hire-card {
  overflow: hidden;
  width: 100%;
  height: 600px;
}

.upper-hire-card {
  height: 40%;
}

.upper-area {
    margin-top: 10px;
  display: flex;
  justify-content: space-between; /* Distribute space between text and image */
  align-items: center; /* Vertically center the items */
  gap: 20px;
}

.upper-area-text {
    flex: 1;                       /* Makes the text take up available space */
    font-size: 40pt;   
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;          /* Adjust text size as needed */
    display: flex;
    justify-content: center;       /* Center the text horizontally */
    align-items: center;           /* Center the text vertically */
    text-align: center;            /* Optional: Center text if you have multiple lines */
  }

.upper-area-text span{
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 45pt;
}

.upper-area-img {
    flex: 1; /* Makes the image take up the available space */
    max-width: 40%; 
}

.image-container{
    width: 60%;

}

.bottom-hire-card {
  height: 60%;
  display: flex;
  justify-content: center; /* Centers the .area-container horizontally */
  align-items: center;
}

.area-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 75px 20px;
  justify-items: center;
  width: 1000px;
}

.area {
  width: 100%;
  max-width: 350px;
}

.bold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}
.light {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

}

