@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


.center-container {
  display: flex;
  justify-content: center; /* Centers the title horizontally */
  align-items: center; /* Aligns items vertically */
  position: relative; /* Allows absolute positioning for the back button */
  padding: 20px 0; /* Adds spacing above and below the header */
}

.back {
  position: absolute; 
  color: white;/* Take it out of the flow and position it */
  left: 20px; /* Keep it aligned to the left */
  top: 50%; /* Vertically center it */
  transform: translateY(-50%); /* Adjust for vertical alignment */
  font-family: "Poppins", serif;
  font-weight: 200;
  font-size: 1rem;
  font-style: normal;
  padding: 8px 16px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}

.back:hover {
  background-color: rgb(0, 0, 0);
}

h1 {
  font-size: 2rem; /* Adjust font size if needed */
  font-weight: bold;
}

.card-project {
  /* border: 0.5px solid #999; */
  /* margin: 5px; */
  padding: 20px;
  width: auto;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Add this CSS to your global CSS or in a CSS module file */

/* Container to hold the project cards */
.project-grid {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Create 2 equal-width columns */
  gap: 20px; /* Space between grid items */
  /* padding: 10px; */
}

.card-content {
  border-radius: 10px;
  position: relative; /* Make sure the text can be positioned on top */
  width: 100%;
  height: 100%;
}

.card-content .img {
  border-radius: 10px;
  /* padding: 10px; */
  filter: brightness(90%);
  position: absolute; /* Position the image absolutely */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  object-fit: cover; /* Ensure the image covers the area */
  z-index: 0; /* Ensure the image is below the text */
}

.card-text {
  border-radius: 10px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.07) 0%,
    rgba(255, 255, 255, 0) 90%
  );
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  width: 100%;
  position: absolute; /* Position the text absolutely inside the container */
  bottom: 0; /* Start off-screen */
  left: 50%; /* Horizontally center the text */
  transform: translateX(-50%); /* Center horizontally */
  padding: 10px 20px 20px 20px; /* Add padding if needed */
  color: white; /* Adjust text color */
  z-index: 10; /* Ensure the text is on top of the image */
  opacity: 1; /* Initially hide the text */
  height: 20%; /* Initially set height to 0 (collapsed) */
  overflow: hidden; /* Hide text when collapsed */
  transition: height 0.7s ease-in-out, opacity 0.5s ease, bottom 0.5s ease,
    transform 0.5s ease; /* Smooth transition for opacity, height, bottom, and transform */
}

.card-project:hover .card-text {
  height: 100%; /* Expand text container to 100% height */
  bottom: 0; /* Move text into view */
  opacity: 1; /* Make the text visible */
  transform: translateX(-50%) translateY(0); /* Ensure text is centered */
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1); /* Add shadow on hover */
}

/* Style for the content inside each card */
.card-content h2 {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
  /* font-size: 25pt; */
  /* font-size: 1.5rem; */
  color: #ffffff;
}
.card-content h3 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #999;
}

.card-content p {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;

  font-size: 1rem;
  color: #ffffff;
}

@media (max-width: 2560px) {
  .back{
    display: flex;
  }
  .card-text{
    height : 20%;
  }
  h2{
    font-size: 30pt;
  }
  .card-project {
    height: 450px;
    padding: 20px;
  }
  .project-grid {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for tablets */
  }
}
@media (max-width: 1440px) {
  .back{
    display: flex;
  }
  .card-text{
    height : 25%;
  }
  .card-project {
    height: 350px;
    padding: 20px;
  }
  h2{
    font-size: 30pt;
  }
  .project-grid {
    grid-template-columns: repeat(2, 1fr); /* 3 columns for tablets */
  }
}
@media (max-width: 1024px) {
  .back{
    display: flex;
  }
  .card-text{
    height : 25%;
  }
  .card-project {
    height: 250px;
    padding: 15px;
  }
  h2{
    font-size: 20pt;
  }
  .project-grid {
    grid-template-columns: repeat(2, 1fr); /* 3 columns for tablets */
  }
}
/* Small screens (mobile) */
@media (max-width: 768px) {
  .back{
    display: none;
  }
  .card-text{
    height : 25%;
  }
  .card-project {
    padding: 10px;
    height: 200px;
  }
  h2{
    font-size: 15pt;
  }
  .project-grid {
    margin: 10px;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile */
  }
}

/* Extra small screens (very small mobile) */
@media (max-width: 480px) {
  .card-text{
    height : 25%;
  }
  .card-project {
    padding: 10px;
    height: 200px;
  }
  h2{
    font-size: 11pt;
  }
  .project-grid {
    margin: 5px;
    grid-template-columns: 1fr; /* 1 column for very small screens */
  }
}
