/* .gradient-border-box {
  position: relative;
  display: inline-block;
  padding: 1px; /* Adjust the padding to create space inside the border 
}

.gradient-border-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  background: linear-gradient(
    315deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(49, 49, 49, 1) 100%
  );
  z-index: -1; /* Put the gradient behind the content 
  padding: 1px; /* Adjust for border thickness 
  border-radius: 10px; /* Optional rounded corners 
}

.gradient-border-box::after {
  content: "";
  position: absolute;
  top: 4px; /* Match with padding to maintain border effect 
  left: 4px;
  right: 4px;
  bottom: 4px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    315deg,
    rgba(255, 255, 255, 0.07) 32%,
    rgba(255, 255, 255, 0.01) 100%
  ); /* Background color of the inner box 
  border-radius: 8px; /* Match with border-radius of ::before 
  z-index: -2; /* Keep behind the content and before element 
}

.content {
  position: relative; /* Ensure the content remains inside the box 
  background: rgb(255, 255, 255);
  background: linear-gradient(
    315deg,
    rgba(255, 255, 255, 0.07) 32%,
    rgba(255, 255, 255, 0.01) 100%
  );
  border-radius: 8px; /* Make sure this matches the inner background 
  z-index: 1; /* Bring the content in front of pseudo-elements 
  padding: 20px;
} */


.content{
}