@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.projectid-container {
  width: 100%;
  /* padding: 10px; */
}
.projectid-card {
  width: 100%;
  border-radius: 10px;
  padding: 20px;
}

.center-container {
  display: flex;
  justify-content: center; /* Centers the title horizontally */
  align-items: center; /* Aligns items vertically */
  position: relative; /* Allows absolute positioning for the back button */
  padding: 20px 0; /* Adds spacing above and below the header */
}

.back {
  position: absolute;
  color: white; /* Take it out of the flow and position it */
  left: 20px; /* Keep it aligned to the left */
  top: 50%; /* Vertically center it */
  transform: translateY(-50%); /* Adjust for vertical alignment */
  font-family: "Poppins", serif;
  font-weight: 200;
  font-size: 1rem;
  font-style: normal;
  padding: 8px 16px;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.3s;
}

.back:hover {
  background-color: rgb(0, 0, 0);
}
h1 {
  font-size: 2rem; /* Adjust font size if needed */
  font-weight: bold;
}

.workid-img {
  border: solid white 0.7px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  /* overflow: hidden; */
  width: 50%;
  height: auto;
}
.workid-img Image {
  object-fit: cover; /* Adjust image fit */
}
p{
  margin-top: 20px;
  color: #ebebeb;
  font-family: "Poppins", serif;
  font-weight: 200;
  font-size : 15pt;
  font-style: normal;

}


@media (max-width: 2560px) {
  .back{
    display: flex;
  }
  .workid-img {
    width: 50%;
  }
  p{
    font-size: 40pt;
  }
  
}
@media (max-width: 1440px) {
  .back{
    display: flex;
  }
  .workid-img {
    width: 50%;
  }
  p{
    font-size: 20pt;
  }
  
}
@media (max-width: 1024px) {
  .back{
    display: flex;
  }
  .workid-img {
    width: 50%;
  }
  p{
    font-size: 15pt;
  }
  
}
/* Small screens (mobile) */
@media (max-width: 768px) {
  .back{
    display: none;
  }
  .workid-img {
    width: 100%;
  }
  p{
    font-size: 12pt;
  }
  
}

/* Extra small screens (very small mobile) */
@media (max-width: 480px) {
  .back{
    display: none;
  }
  .workid-img {
    width: 100%;
  }
  p{
    font-size: 12pt;
  }
  
}
